*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
   box-sizing: border-box;

}
.container{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.red{
    color: red;
}
.maincenter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}
.center{
    width: 50%;
}
.rightcenter{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
span{
    color: red;
}
.line{
    height: 1px;
    width: 100%;
   background-color: grey;
}
.center2{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px
}
.center1{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px

}
.check{
    display: flex;
}
select{
    width: 75%;
    height: 23px;
}
input{
    height: 26px;
    width: 250px;
}
#agree{
    height: 16px;
   width: auto;
}
.write1{
    text-align: center;
}
.pass{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 20px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color:rgb(68, 68, 227);
    color: white;
    padding: 10px;
    width: 250px;
    margin: 10px;
}